.returnDetailCommune{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
}
.returnDetailCommune img{
    height: 20px;
    transform: rotate(-90deg);
}
.returnDetailCommune p{
    margin: 0;
    margin-left: 5px;
}
.detailCommune-container{
    margin-left: 5%;
    margin-top: 2.5%;
}
.detailCommune-container h2{
    font-size: 35px;
    font-weight: normal;
    margin-top: 0px;
}

.detailCommune-content{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.detailCommune-content p {
    font-size: 20px;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.detailCommune-content p img{
    height: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: 750px){
    .detailCommune-container {
        margin-top: 15%;
    }

    .detailCommune-content p {
        font-size: 15px;
        word-wrap: break-word;
        overflow: hidden;
        margin-top: 10px;
    }
    .detailCommune-content p:first-child{
        margin-top: 0px;
    }
}