body{
    background-color: #FCF8FF;
    font-family: Poppins, sans-serif;
}
main{
    width: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.header .logo {
    height: 25px;
}


.nav__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__container form{
    margin-right: 15px;
}
.nav__container form input{
    border: 0;
    border-radius: 2px;
    background-color: #E8E8E8;
    font-size: 16.5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    outline: none;
}

.nav_a{
    text-decoration: none;
    color: black;
    font-size: 17.5px;
    margin-right: 15px;
}
.nav_button{
    background-color: #744FC6;
    border-radius: 5px;
    border: 0;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}


@media (min-width: 750px) {
    .nav__mobile{
        left: -1000vw;
    }
}
@media (max-width: 750px) {
    .nav__container{
        display: none;
    }
    .nav__mobile{
        left: 0;
    }
    .nav__mobile_open{
        display: none;
    }
}
.nav__mobile{
    background-color: #f7eeff;
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.nav__mobile img {
    height: 35px;
}
.nav__mobile a:last-child{
    margin-right: 5%;
}
.nav__mobile a:first-child{
    margin-left: 5%;
}
.nav__mobile a:first-child img{
}


.nav__mobile_open {
    background-color: white;
    position: fixed;
    bottom: 0;
    height: 170px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: none;
}
.nav__mobile_open nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
}
.nav__mobile_open nav .nav__mobile_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav__mobile_open nav .nav__mobile_row a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav__mobile_open nav .nav__mobile_connect{
    margin: auto;
    margin-bottom: 25px;
}

.nav__mobile_close{
    position: fixed;
    bottom: 0;
    height: 25px;
    z-index: 15;
    right: 0;
    margin-bottom: 15px;
    margin-right: 15px;
}